*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper{
     overflow-x: hidden;
     overflow-y: auto;
     perspective: 10px;
     height: 100vh;
}

.container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}

.foregroundimg{
    transform: translateZ(-40px) scale(4px);
}

.foregroundimg{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    

}

h1{
    position: absolute;
    font-size: 10rem;
    color: white;
    letter-spacing: 4px;
    top: 5rem;
    text-shadow: 0 0 10px rgba(0, 0, 0,0.3 alpha);

}
 section{
    color: white;
    background-color:rgb(45 45 45) ;
    padding: 5rem 0;
 }
 .head{
    font-size: 5rem;
    padding: 0 10rem;
 }

 .text{
    font-size: 1.5rem;
    padding: 0 10rem;
    margin: 5rem 0;
 }
 .bike{
    position: absolute;
    padding: 0.5rem 2.5rem;
    background-color: white;
    top: 50%;
    left: 60%;
    transform: translateX(-50%) translatex(-50%);
    color: black;
    font-size: 3.5rem;
    font-weight: 600;
 }

 .bg{
    position: relative;
    width: 100%;
    background-attachment: fixed;
    height: 500px;
    background-position: center;

 }

 .bg1{
    background-image: url(sports1.jpg);
 }
 .bg2{
    background-image:url(sports2.jpg) ;
 }
 .bg3{
    background-image: url(sports3.jpg);
 }
